.feed-grid {
    margin: 3rem auto;
    column-count: 4;
    column-gap: 10px;
}

.curated-feed li {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;
}
  
.curated-feed img {
    grid-row: 1 / -1;
    grid-column: 1;
}